@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i');


/*ogólne*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #800000;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #F8F8F8;
}

.container {
	text-align: center;
	padding: 0;
	margin: 0 auto;
}

#board {
	margin: 0;
	padding: 0;
}

.row {
	padding: 0;
	margin: 0;
	width: 100vw;
}

.col-sm-3 {
	padding: 10px;
}

/*czcionki*/
h1,
h2 {
	font-weight: 700;
}

p.card-description {
	padding: 20px;
	padding-right: 60px;
}

.create-column {
	color: black;
}

/*karty i kolumny*/
.column {
	position: relative;
	background-color: #FFF;
	margin: 10px;
}

.card {
	/*min-height: 60px;*/
	background-color: yellow; 
/*	display: block;*/
	position: relative;
/*  	margin: 0 auto;
  	padding: 0;
  	top: 0;*/
}

.column-card-list {
	list-style-type: none;
}


/*buttony*/

/*delete a card*/
.btn-delete {
	text-align: center;
	position: absolute;
  	right: 0;
  	top: 0;
  	margin-left: 50px;
}

.btn-default {
	margin: 10px;
	border: none;
	border-radius: 5%;
	padding: 10px 15px;
	box-shadow: none;
	background-color: #e6e6e6;
}

/*delete a column:*/
.btn-column {
	position: absolute;
  	right: 0;
  	color: white;
	background-color: #800000;
	border-radius: 5%;
} 
